html,body {
    background-color: #001427;
    font-family: Poppins, serif;
    color: white;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}


h3 {
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
    padding: 10px 0;
    margin: 0;
}

@media (max-width: 768px) {
    h3 {
        font-size: 20px;
        line-height: 30px;
    }
}


header {
    background-color: #001427;
}

.banner{
    display: flex;
    overflow: hidden;
    background-color: rgba(0, 172, 223, 0.05);
    width: 100%;
    height: 45px;
    align-items: center;
}

.banner-content{
    display: flex;
    white-space: nowrap;
    animation: scrollBanner 40s linear infinite;
}

.banner-content a{
    text-decoration: underline;
}

@keyframes scrollBanner {
    0% {
        transform: translateX(0%);
    } 100% {
          transform: translateX(-50%);
      }
}

.banner-text{
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    margin: 0 20px;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 88px;
}

.container {
    max-width: 1520px;
    margin: auto;
    padding: 0 15px;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1520px;
    margin: auto;
}

.nav-icons {
    display: flex;
    align-items: center;
}

.nav-icons.left {
    justify-content: flex-start;
    gap: 12px;
}

.nav-icons.right {
    justify-content: flex-end;
    gap: 24px;
}

.nav-icons.right a{
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.nav-icons.right a:hover{
    opacity: 1;
}

.nav-logo {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}



.video-card h1{
    font-size: 48px;
    line-height: 72px;
    font-weight: 500;
}

.video-card p{
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
}

@media (max-width: 768px) {
    .video-card h1 {
        font-size: 20px;
        line-height: 30px;
    }

    .video-card p {
        font-size: 16px;
        line-height: 24px;
    }
}

.videoBox {
    position: relative;
    width: 100%;
    height: 50vh;
    overflow: hidden;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .videoBox{
        height: 250px;
    }
}

.video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: calc(100% * 9 / 2);
    transform: translate(-50%, -50%);
}

.foregroundOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.videoText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}


.swiper-card{
    height: 295px;
    width: auto;
    background-color: rgb(13, 32, 50);
    border-radius: 10px;
    margin-bottom: 40px;
}

.swiper {
    width: 100%;
    height: 295px;
}


.swiper-slide{
    display: flex;
    justify-content: center;
    align-content: center;
}

.swiper-slide img{
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: 2px solid transparent;
    object-fit: cover;
    transition: border 0.2s ease;
}

.swiper-slide img:hover{
    border: 2px solid #00ACDF;
}

@media (max-width: 768px) {
    .team {
        display: none;
    }
}


.contact-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-card {
    border-radius: 10px;
    max-width: 740px;
    display: flex;
    flex-direction: column;
}

.contact-subtitle{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    opacity: 0.7;
}

.contact-image{
    display: block;
    border-radius: 10px;
    width: 100%;
    max-width: 740px;
    height: 385px;
    margin: 20px 0;
    object-fit: cover;
    opacity: 0.7;
}

.infos{
    display: flex;
    flex-wrap: wrap;

    .top, .bottom{
        width: 100%;
        display: flex;

        div {
            width: 50%;
        }
    }
}




.formular-card {
    background-color: rgb(13, 32, 50);
    border-radius: 10px;
    max-width: 750px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border: 2px solid transparent;
    padding: 20px;
    margin-bottom: auto;
    box-sizing: border-box;
}

.nameWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.nameField {
    width: calc(50% - 10px);
    margin-bottom: 20px;
}

.subjectWrapper, .commentWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

.nameField input, .subjectWrapper input, .commentWrapper textarea, .submit-button, .cancel-button {
    border-radius: 6px;
    padding: 10px;
    border: 2px solid white;
    background: transparent;
    color: white;
    width: 100%;
    font-family: Poppins, serif;
    box-sizing: border-box;
}

.nameField input {
    max-width: none;
}

.commentWrapper textarea {
    height: 158px;
    resize: none;
}

.submit-button, .cancel-button {
    background: #00ACDF;
    font-weight: 400;
    font-size: 16px;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    border: none;
    transition: background 0.3s ease;
}

.submit-button:hover {
    background: rgb(3, 144, 188);
}

.cancel-button {
    background: transparent;
}

.cancel-button:hover {
    background: rgb(10, 26, 40);
}



#map {
    height: 480px;
    width: auto;
    border-radius: 10px;
}


footer {
    width: 100%;
    height: 379px;
    background-color: #000F1D;
}

.footer-top {
    display: flex;
    align-items: center;
    position: relative;
    padding-top: 87px;
}


.footer-top img:first-child {
    align-self: flex-start;
}

.footer-top img:last-child {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.footer-middle{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin: 32px;
}

.social-media-icons{
    display: flex;
    gap: 24px;
}

.language-text{
    display: inline-flex;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    gap: 4px
}

.footer-bottom{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footerCompanyText{
    margin-top: auto;
    opacity: 0.7;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}

.footerCompanyTextSpacing{
    word-spacing: 15px;
}

.footerLogos{
    display: flex;
    gap: 32px;
    opacity: 0.7;
}

@media (max-width: 768px) {
    .footer-top img:first-child {
        display: none;
    }

    .footer-top, .footer-middle, .footer-bottom {
        align-items: center;
        text-align: center;
    }

    .footer-bottom {
        flex-direction: column;

    }


    .footerCompanyText {
        order: 1;
    }

    .footerLogos {
        order: 0;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
    }

    footer {
        height: auto;
        padding: 20px;
    }
}
