html,body {
    background-color: #001427;
    font-family: Poppins, serif;
    color: white;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

header {
    background-color: #001427;
}

.banner{
    display: flex;
    overflow: hidden;
    background-color: rgba(0, 172, 223, 0.05);
    width: 100%;
    height: 45px;
    align-items: center;
}

.banner-content{
    display: flex;
    white-space: nowrap;
    animation: scrollBanner 40s linear infinite;
}

.banner-content a{
    text-decoration: underline;
}

@keyframes scrollBanner {
    0% {
        transform: translateX(0%);
    } 100% {
          transform: translateX(-50%);
      }
}

.banner-text{
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    margin: 0 20px;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 88px;
}

.container {
    max-width: 1520px;
    margin: auto;
    padding: 0 15px;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1520px;
    margin: auto;
}

.nav-icons {
    display: flex;
    align-items: center;
}

.nav-icons.left {
    justify-content: flex-start;
    gap: 12px;
}

.nav-icons.right {
    justify-content: flex-end;
    gap: 24px;
}

.nav-icons.right a{
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.nav-icons.right a:hover{
    opacity: 1;
}

.nav-logo {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 380px;
    max-width: 1520px;
    margin: auto auto 20px;
    background-color: #00ACDF;
    padding: 20px;
    box-sizing: border-box;
}

.card .title{
    font-size: 48px;
    line-height: 72px;
    font-weight: 500;
}

.card .caption{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
    margin: 10px 0;
}

.card .heart{
    width: 24px;
    height: 24px;
}

.card .offer {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-width: 1px;
    border-radius: 6px;
    width: 327px;
    height: 40px;
    padding: 8px 16px;
    border-color: white;
    background-color: transparent;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: white;
    font-family: Poppins, serif;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -5px;
}

.service-row{
    gap: 8px;
}

.column {
    flex: 0 1 490.67px;
    padding: 0 5px;
}

.small-card {
    background-color: rgba(0, 172, 223, 0.05);
    border-radius: 6px;
    max-width: 490.67px;
    height: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
}

.title2{
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
}

.column2 {
    flex: 0 1 233px;
    padding: 0 5px;
}

.corp-card{
    position: relative;
    background-color: rgba(0, 172, 223, 0.05);
    border-radius: 10px;
    border: 2px solid transparent;
    width: 233px;
    height: 321px;
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    transition: border 0.3s ease, background-color 0.3s ease;
}

.secjur:hover{
    border-color: rgba(101, 77, 255, 1);
    background-color: rgba(101, 77, 255, 0.1);
}

.spaleck:hover{
    border-color: rgba(0, 129, 172, 1);
    background-color: rgba(0, 129, 172, 0.1);
}

.crs:hover{
    border-color: rgba(81, 27, 43, 1);
    background-color: rgba(81, 27, 43, 0.1);
}

.dohrn:hover{
    border-color: rgba(175, 185, 205, 1);
    background-color: rgba(175, 185, 205, 0.1);
}

.schmitt:hover{
    border-color: rgba(0, 118, 160, 1);
    background-color: rgba(0, 118, 160, 0.1);
}

.lüftring:hover{
    border-color: rgba(56, 56, 56, 1);
    background-color: rgba(56, 56, 56, 0.1);
}

.corp-card:hover .corp-text{
    opacity: 1;
}

.corp-card img {
    position: absolute;
    transition: transform 0.5s ease;
}

.corp-card .secjur-1{
    top: 60px;
    left: 28px;
}

.corp-card .secjur-2{
    top: 77px;
    left: 56px;
}

.corp-card .secjur-3{
    top: 104px;
    left: 125px;
}

.corp-card:hover .secjur-1{
    transform: translateY(-5px);
}

.corp-card:hover .secjur-2{
    transform: translateY(-5px) scale(1.05);
}

.corp-card:hover .secjur-3{
    transform: scale(1.1);
}

.corp-card .spaleck-1{
    top: 54px;
    left: 28px;
}

.corp-card .spaleck-2{
    top: 123px;
    left: 57px;
}

.corp-card .spaleck-3{
    top: 144px;
    left: 39px;
}

.corp-card:hover .spaleck-1{
    transform: translateY(-5px);
}

.corp-card:hover .spaleck-2{
    transform: translateX(5px);
}

.corp-card:hover .spaleck-3{
    transform: translateY(5px);
}

.corp-card .crs-1{
    top: 50px;
    left: 28px;
}

.corp-card .crs-2{
    top: 98px;
    left: 52px;
}

.corp-card .crs-3{
    top: 113px;
    left: 150px;
}

.corp-card:hover .crs-1{
    transform: translateY(-5px);
}

.corp-card:hover .crs-2{
    transform: translateY(5px);
}

.corp-card:hover .crs-3{
    transform: translateY(5px) translateX(5px);
}

.corp-card .dohrn-1{
    top: 58px;
    left: 28px;
}

.corp-card .dohrn-2{
    top: 115px;
    left: 99px;
}

.corp-card:hover .dohrn-1{
    transform: translateY(-5px);
}

.corp-card:hover .dohrn-2{
    transform: translateY(5px) translateX(5px) scale(1.05);
}

.corp-card .schmitt-1{
    top: 58px;
    left: 28px;
}

.corp-card .schmitt-2{
    top: 103px;
    left: 41px;
}

.corp-card:hover .schmitt-1{
    transform: translateY(-5px) scale(0.95);
}

.corp-card:hover .schmitt-2{
    transform: translateY(5px);
}

.corp-card .lüftring-1{
    top: 55px;
    left: 33px;
}

.corp-card .lüftring-2{
    top: 75px;
    left: 145px;
}

.corp-card:hover .lüftring-1{
    transform: scale(1.1) translateX(5px);
}

.corp-card:hover .lüftring-2{
    transform: translateX(-10px);
}


.corp-card-square{
    position: relative;
    border-radius: 6px;
    width: 201px;
    height: 201px;
    align-self: flex-start;
    margin-left: 16px;
}

.square-color-1 {
    background-image: radial-gradient(rgba(101, 77, 255, 0.6), rgba(147, 131, 255, 0.6));
}

.square-color-2 {
    background-image: radial-gradient(rgba(0, 129, 172, 0.6), rgba(0, 163, 218, 0.6));
}

.square-color-3 {
    background-image: radial-gradient(rgba(81, 27, 43, 0.6), rgba(104, 35, 56, 0.6));
}

.square-color-4 {
    background-image: radial-gradient(rgba(175, 185, 205, 0.6), rgba(239, 241, 245, 0.6));
}

.square-color-5 {
    background-image: radial-gradient(rgba(0, 118, 160, 0.6), rgba(0, 150, 206, 0.6));
}

.square-color-6 {
    background-image: radial-gradient(rgba(56, 56, 56, 0.6), rgba(71, 71, 71, 0.6));
}

.corp-logo{
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 20px;
}

.corp-text{
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    opacity: 0.7;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 20px;
    transition: opacity 0.3s ease;
}

.partner-column{
    flex: 0 1 490px;
    padding: 0 5px;
}

.partner-card {
    background-color: rgba(0, 172, 223, 0.05);
    border-radius: 10px;
    max-width: 490px;
    height: 276px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 2px solid transparent;
    transition: border 0.3s ease;
}

.partner-text {
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    transition: color 0.3s ease;
}

.partner-card svg{
    transition: fill 0.3s ease;
}

.partner-card:hover .partner-text {
    color: #00acdf;
}

.partner-card:hover {
    border-color: #00acdf;
}

.partner-card:hover svg{
    fill: #00acdf;
}


.service-column{
    flex: max-content;
}

.service-card{
    background-color: rgba(0, 172, 223, 0.05);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: background-color 0.3s ease;
}

.service-card:hover{
    background-color: #00acdf;
}

.service-card-size-1{
    width: 382px;
    height: 182px;
}

.service-card-size-2{
    width: 370px;
    height: 182px;
}

.service-card-size-3{
    width: 355px;
    height: 182px;
}

.service-card-size-4{
    width: 388px;
    height: 182px;
}

.service-text{
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.team-column{
    flex: 0 1 490.6px;
}

.team-card{
    display: flex;
    background-color: rgba(0, 172, 223, 0.05);
    max-width: 490.6px;
    max-height: 112px;
    border-radius: 10px;
    margin-bottom: 16px;
    border: 2px solid transparent;
    transition: border 0.3s ease;
}

.team-card:hover{
    border-color: #00acdf;
}

.team-card-square{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    width: 80px;
    height: 80px;
    align-self: flex-start;
    margin: 16px;
}


.square-color-7{
    background-color: rgba(113, 90, 255, 1);
}

.square-color-8{
    background-color: rgba(38, 196, 133, 1);
}

.square-color-9{
    background-color: rgba(153, 170, 181, 1);
}

.square-color-10{
    background-color: rgba(0, 172, 223, 1);
}

.team-card-text{
    display: flex;
    flex-direction: column;
    align-self: center;
}

.team-text-title{
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    margin: 0 0 6px 0;
}

.team-text-subtitle{
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    opacity: 0.7;
    margin: 0;
    transition: opacity 0.3s ease;
}

.team-card:hover .team-text-subtitle{
    opacity: 1;
}

.site-footer {
    width: 100%;
    height: 379px;
    background-color: #000F1D;
}

.footerCompanyText{
    opacity: 70%;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-align: left;
    margin-top: auto;
}

.footerMiddle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.social-media-icons{
    display: flex;
    gap: 24px;
}

.footerMiddle p, .footerMiddle img, .social-media-icons img{
    margin: 32px 0;
}

.footerLogos{
    text-align: right;
}