html,body {
    background-color: #001427;
    font-family: Poppins, serif;
    color: white;
}

header {
    background-color: #001427;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 88px;
}

.container {
    max-width: 1520px;
    margin: auto;
    padding: 0 15px;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1520px;
    margin: auto;
}

.nav-icons {
    display: flex;
    align-items: center;
}

.nav-icons.left {
    justify-content: flex-start;
}

.nav-icons.right {
    justify-content: flex-end;
}

.nav-logo {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 380px;
    max-width: 1520px;
    margin: auto auto 20px;
    background-color: #00ACDF;
    padding: 20px;
    box-sizing: border-box;
}

.card .title{
    font-size: 48px;
    line-height: 72px;
    font-weight: 500;
}

.card .caption{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
    margin: 10px 0;
}

.card .heart{
    width: 24px;
    height: 24px;
}

.card .offer {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-width: 1px;
    border-radius: 6px;
    width: 327px;
    height: 40px;
    padding: 8px 16px;
    border-color: white;
    background-color: transparent;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: white;
    font-family: Poppins;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -5px;
}

.column {
    flex: 0 1 490.67px;
    padding: 0 5px;
}

.small-card {
    background-color: rgba(0, 172, 223, 0.05);
    border-radius: 6%;
    max-width: 490.67px;
    height: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
}

.title2{
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
}

.column2 {
    flex: 0 1 233px;
    padding: 0 5px;
}

.corp-card{
    background-color: rgba(0, 172, 223, 0.05);
    border-radius: 10%;
    max-width: 233px;
    height: 321px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.corp-text{
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: rgba(256, 256, 256, 0.7);
    padding-left: 16px;
    padding-top: 265px;
}

.partner-column{
     flex: 0 1 490px;
     padding: 0 5px;
 }

.partner-card{
    background-color: rgba(0, 172, 223, 0.05);
    border-radius: 10%;
    max-width: 490px;
    height: 276px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.partner-text{
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
    text-align: center;
}

.service-column{
    flex: 0 1 382px;
}

.service-card1{
    background-color: rgba(0, 172, 223, 0.05);
    border-radius: 10%;
    max-width: 382px;
    height: 182px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-card2{
    background-color: rgba(0, 172, 223, 0.05);
    border-radius: 10%;
    max-width: 370px;
    height: 182px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-card3{
    background-color: rgba(0, 172, 223, 0.05);
    border-radius: 10%;
    max-width: 355px;
    height: 182px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-card4{
    background-color: rgba(0, 172, 223, 0.05);
    border-radius: 10%;
    max-width: 388px;
    height: 182px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-text{
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    text-align: center;
}


.site-footer {
    width: 100%;
    height: 379px;
    background-color: #000F1D;
    padding: 20px 0;


}

.footerCompanyText{
    display: flex;
    opacity: 70%;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-align: left;
    margin-top: auto;
}
